<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="headerTag :: headerFragment" >
	<title>Accueil</title>
</head>
<body>
	<div id="wrapper" >
		<header th:replace="~{head}" id="header">
		</header>
		
		<h3> Votre inscription a été éffectuée avec succés. <br />
		     Un lien d'activation vient d'étre envoyé à votre adresse mail.<br/>
		     Veuillez activer votre compte pour pouvoir y accéder.
	    </h3>
		
		<footer th:replace="~{footer}" id="footer" >
		</footer>
		
		<span id="back-top" class="text-center md-round fa fa-angle-up"></span>
		<div id="loader" class="loader-holder">
			<div class="block"><img th:src="@{/images/svg/bars.svg}" width="60" alt="loader"></div>
		</div>	
	</div> 
	<script th:src="@{/js/jquery.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/jquery.main.js}"></script>
</body>
</html>